 :host {
     display: block;
     height: 100%;
     width: 100%;
 }

 .artwork {
     height: 100%;
     width: 100%;
     overflow: hidden;
     border-radius: inherit;
 }

 .artwork-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
     display: block;
 }