<app-game-shell [contentSize]="'normal'">

  <div game-input>
    @if (!isGameWon()) {
    <app-guess-input [allCards]="service.cards()" [guessedNames]="service.guessedNames()" [isGameWon]="isGameWon()"
      (select)="service.submitGuess($event.name)" />
    } @else {
    <app-next-puzzle-display />
    }
  </div>

  <div game-content>

    <div class="card-art-wrapper">
      <img [src]="target()!.imageUrl" [style.filter]="'blur(' + blurAmount() + 'px)'" class="card-art" />
    </div>

    <div class="card-actions">
      <button class="card-action" (click)="toggleBlur()" [disabled]="guesses().length === 0 || isGameWon()">
        <img src="/icons/reset.png" class="card-action-icon" />
        Blur reset
      </button>

      <button class="card-action" [disabled]="wrongGuesses() < 3" (click)="toggleHints()">
        <img src="/icons/hint.png" class="card-action-icon" />
        Hints
      </button>
    </div>

    @if (showHints()) {
    <app-guess-hint [target]="target()!" [wrongGuesses]="wrongGuesses()" [config]="hintConfig" />
    }

    <app-guess-history-small [guesses]="guesses()" />

  </div>

  @if (yesterdayTarget()) {
  <p yesterday-target>
    Yesterday’s searched card was
    <strong>{{ yesterdayTarget()?.name }}</strong>
  </p>
  }

  <div victory>
    @if (showVictory()) {
    <app-victory [target]="target()!" (close)="showVictory.set(false)" />
    }
  </div>

</app-game-shell>