.card-art-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.card-art {
    width: 320px;
    max-width: 80vw;
    border-radius: 18px;
    transition: filter 260ms ease;
}

@media (max-width: 600px) {
    .card-art {
        width: 260px;
    }
}