.colors-tile {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

    border-radius: 6px;
    background: var(--tile-bg);
}


.color-correct {
    background: var(--color-correct-bg);
}

.color-wrong {
    background: var(--color-wrong-bg);
}

.color-partial {
    background: var(--color-partial-bg);
}

.colors-tile--exact .color-row,
.colors-tile--wrong .color-row {
    background: transparent;
}

.color-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    border-radius: 4px;
}

.mana-icon {
    width: 20px;
    height: 20px;
}