.colors-tile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
}

.color-value {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    border-radius: var(--border-radius-chips);
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.35);
}

.mana-icon {
    width: 20px;
    height: 20px;
}