<app-game-shell [contentSize]="'wide'">

    <div game-input>
        <app-guess-input [allCards]="service.cards()" [guessedNames]="service.guessedNames()" [isGameWon]="isGameWon()"
            (select)="service.submitGuess($event.name)" />
    </div>

    <div game-content>

        @if (target()) {
        <app-guess-history [guesses]="guesses()" [target]="target()!"></app-guess-history>
        }

    </div>

    @if (yesterdayTarget()) {
    <p yesterday-target>
        Yesterday’s searched card was
        <strong>{{ yesterdayTarget()?.name }}</strong>
    </p>
    }


    <div victory>
        @if (showVictory()) {
        <app-victory [target]="target()!" (close)="showVictory.set(false)" />
        }
    </div>

</app-game-shell>