:host {
    display: block;
    min-height: 100vh;

    /* background-image: url('/ashiok.png'); */
    background-image: url('/eriette.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Overlay */
:host::before {
    content: '';
    position: fixed;
    inset: 0;

    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(8px);
    pointer-events: none;
    z-index: -1;
}