.home {
    max-width: 760px;
    margin: 46px auto;
    padding: 16px;
}

/* Mode Cards */
.modes {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mode-card {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 64px 16px 16px;

    border: none;
    border-radius: 14px;
    background: var(--container-bg-primary);
    backdrop-filter: blur(4px);

    color: var(--color-text-primary);
    cursor: pointer;

    transition:
        transform 160ms ease,
        box-shadow 160ms ease;
}

@media (hover: hover) {
    .mode-card:hover {
        transform: scale(1.025);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
    }

    .mode-card:hover .mode-icon {
        transform: translateY(-50%) scale(1.3);
    }

    .logo-image:hover {
        transition: transform 160ms ease;
        transform: scale(1.025);
        cursor: pointer;
    }
}

/* Mode Card Text */
.mode-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mode-card h2 {
    font-size: 22px;
    margin: 0 0 6px;
}

.mode-card p {
    margin: 0;
    opacity: 0.85;
}

/* Mode Card Icon  */
.mode-icon {
    position: absolute;
    right: 16px;
    top: 50%;

    width: clamp(50px, 10vw, 80px);
    height: auto;

    transform: translateY(-50%) scale(1);
    transition: transform 160ms ease;
}

/* Info Section */
.info {
    margin-top: 24px;
}

.info-header {
    padding: 6px 12px;
    background: var(--container-bg-primary);
    backdrop-filter: blur(4px);
    border-radius: 999px;
    color: var(--color-text-primary);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border: none;

    display: flex;
    justify-content: space-between;

    font-size: 16px;
    cursor: pointer;
}

.info-header:hover {
    transform: scale(1.015);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);

}

.info-content {
    margin-top: 12px;
    padding: 14px;

    font-size: 15px;
    line-height: 1.5;

    background: var(--container-bg-primary);
    backdrop-filter: blur(6px);

    border-radius: 12px;
    color: var(--color-text-primary);
}