.home {
    max-width: 760px;
    margin: 0 auto;
    padding: 16px;
}

/* =========================
   Mode Cards
   ========================= */

.modes {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mode-card {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 64px 16px 16px;

    border: none;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);

    color: #fff;
    cursor: pointer;

    transition:
        transform 160ms ease,
        box-shadow 160ms ease;
}

@media (hover: hover) {
    .mode-card:hover {
        transform: scale(1.025);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
    }

    .mode-card:hover .mode-icon {
        transform: translateY(-50%) scale(1.3);
    }

    .logo-image:hover {
        transition: transform 160ms ease;
        transform: scale(1.025);
        cursor: pointer;
    }
}

/* =========================
   Mode Card Text
   ========================= */

.mode-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mode-card h2 {
    font-size: 22px;
    margin: 0 0 6px;
}

.mode-card p {
    margin: 0;
    opacity: 0.85;
}

/* =========================
   Mode Card Icon (decorativ)
   ========================= */

.mode-icon {
    position: absolute;
    right: 16px;
    top: 50%;

    width: clamp(40px, 10vw, 56px);
    height: auto;

    transform: translateY(-50%) scale(1);
    transition: transform 160ms ease;
}

/* =========================
   Info Section
   ========================= */

.info {
    margin-top: 24px;
}

.info-header {
    padding: 2px 12px;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    border-radius: 999px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border: none;

    display: flex;
    justify-content: space-between;

    font-size: 16px;
    color: white;
    cursor: pointer;
}

.info-header:hover {
    transform: scale(1.015);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);

}

.info-content {
    margin-top: 12px;
    padding: 14px;

    font-size: 15px;
    line-height: 1.5;

    background: rgba(10, 10, 10, 0.75);
    backdrop-filter: blur(6px);

    border-radius: 12px;
    color: #eee;
}

.info-content a {
    color: #7dd3fc;
    text-decoration: none;
    font-weight: 500;

    border-bottom: 1px solid rgba(125, 211, 252, 0.35);
    padding-bottom: 1px;

    transition:
        color 120ms ease,
        border-color 120ms ease,
        text-shadow 120ms ease;
}