.game-shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(32px, 6vh, 56px);
    padding-top: clamp(16px, 3vh, 42px);
}

/* Input Zone */
.game-input {
    width: clamp(380px, 90vw, 600px);
    display: flex;
    justify-content: center;
}

/* Content Box */
.game-content {
    width: clamp(380px, 90vw, 600px);

    background: var(--container-bg-primary);
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(4px);

    border-radius: 18px;
    padding: 2px 24px 24px 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.55),
        inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.game-content.wide {
    width: clamp(380px, 90vw, 1050px);
}

.game-meta {
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
    background: var(--container-bg-primary);
    border-radius: 999px;
    color: var(--color-text-primary);
    font-weight: 500;
    padding: 0 22px;
}


/* Mobile */
@media (max-width: 600px) {
    .game-shell {
        padding-left: 20px;
    }

    .game-content {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        background: rgba(0, 0, 0, 0.65);
        padding: 20px 16px;
        border-radius: 16px;
    }
}