<app-game-shell [contentSize]="'normal'">

  <div game-input>
    @if (!isGameWon()) {
    <app-guess-input [allCards]="service.cards()" [guessedNames]="service.guessedNames()" [isGameWon]="isGameWon()"
      (select)="service.submitGuess($event.name)" />
    } @else {
    <app-next-puzzle-display />
    }
  </div>

  <div game-content>

    @if (target()) {
    <div class="oracle-text-box">
      <div class="oracle-text" [innerHTML]="oracleHintHtml()">
      </div>
    </div>
    }

    <div class="card-actions">
      <button class="card-action" [disabled]="wrongGuesses() < 3" (click)="toggleHints()">

        <img src="/icons/hint.avif" class="card-action-icon" />
        Hints
      </button>
    </div>

    @if (showHints()) {
    <app-guess-hint [target]="target()!" [wrongGuesses]="wrongGuesses()" [config]="hintConfig">
    </app-guess-hint>
    }

    <app-guess-history-small [guesses]="guesses()" />

  </div>

  @if (yesterdayTarget()) {
  <p yesterday-target>
    Yesterday’s searched card was
    <strong>{{ yesterdayTarget()?.name }}</strong>
  </p>
  }

  <div victory>
    @if (showVictory()) {
    <app-victory [target]="target()!" (close)="showVictory.set(false)" />
    }
  </div>

</app-game-shell>